/*  your css code here. If applicable */
body{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
}
.box{
	width:200px;
	height:200px;
	color:purple;
	display:flex;
	border:2px solid black;
	background:lightblue;
	justify-content:center;
	align-items:center;
}